<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>멋쟁이사자처럼::아기사자 </title>
  <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body class="container">
<p>
  <a th:href="@{/}">🏠홈</a>

  <a th:href="@{/logout}" th:if="${session.user == null}">로그인</a>
  <a th:href="@{/logout}" th:if="${session.user == null}">회원가입</a>
  <a th:href="@{/logout}" th:if="${session.user != null}" class="cancel">로그아웃</a>
</p>
<h1>✍🏿 게시글 목록</h1>
<p>
  <a th:href="@{/posts/add}">
    <button>➕ 새 글</button>
  </a>
</p>
<ul class="post-list">
  <li th:each="post: ${posts}">
    <div class="post">
      <h2>
        <a th:href="@{'/posts/' + ${post.id}}" th:text="${post.title}"></a>
      </h2>
      <p>
        작성자 :
        <span th:text="${post.author.username}"></span>
        |
        <span th:text="${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm')}"></span>
      </p>
    </div>
  </li>
</ul>
</body>
</html>